@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

::selection {
  background: #1F8A70;
  color: #F5F3EE;
}
